@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ccc;
}
img {
    width: 100%;
}

h4 {
    font-size: 72px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}
h4{
    color: #1ce783;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.text-xl {
    margin-top: 16px;
    font-size: 72px;
    font-weight: 800;
}
.sub-text {
    max-width: 792px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}
.legal-text  {
    font-size: 10px;
    text-align: center;
    color: #fff;
    line-height: 34px;
    opacity: 0.6;
    margin: 0 5%;
}
/* Live - TV */

.live {
    background-color: #151516;
    padding:  60px 40px;
}
.live-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    border-radius: 16px;
    border: 4px solid #1ce783;
}
.live a {
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    opacity: 0.8;
    margin: 16px auto 0 auto 0;
    
}


/* live-sports-css */
.live-sports {
    background: url('../img/live-sports.jpg') no-repeat center center / cover;
    height: 800px;
    position: relative;
}

.live-sports-content .sub-text {
    text-align: left;
    max-width: 513px;
    margin-top: 18px;
}
.live-sports-content .legal-text {
    text-align: left;
    line-height: 42px;
    margin: 33px 0 0 0;
}
.live-sports-content {
    position: absolute;
    top: 160px;
    left: 160px;
    max-width: 550px;
}
.live-sports-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;margin-top: 40px;
}
.live-sports-logos > div {
    background: url('../img/network-logo-bg.png') no-repeat center center / cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.live-sports-logos img {
    width: 40px;
}

@media (max-width: 768px) {
    .text-xl {
        line-height: 1.3;
        font-size: 40px;
      }
    
      .sub-text {
        font-size: 20px;
      }
    .live-border {
        padding: 30px 10px;
      }
    
      .live-sports {
        background: url('../img/live-sports-small.jpg') no-repeat center center /
          cover;
      }
    
      .live-sports-content {
        top: 30px;
        left: 30px;
        margin-top: 60px;
      }
}