@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    background: #000;
    color: #fff;
    overflow: hidden;
    line-height: 1.7;
    font-family: 'Rubik', sans-serif;
}

h4 {
    color: #00ED82;
    text-transform: uppercase;
    font-size: 14px;
}
h3 {
    font-size: 26px;
    font-weight: bold;
}

.text-xl {
    font-size: 72px;
    font-weight: 800;
}
.sub-text {
  font-size: 24px;
  max-width: 792px;
  margin-bottom: 10px;
  text-align: center;
}

.categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 90px 40px;
}
.categories .covers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
}
.categories .covers > div {
    height: 500px;
    width: 300px;
    position: relative;
}

.categories .cover-grad {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}



.categories .cover-text {
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: left;
}

.categories .cover-1 {
    background: url('../img/cover-1.jpg') no-repeat center center / cover;
  }
  .categories .cover-2 {
    background: url('../img/cover-2.jpg') no-repeat center center / cover;
  }
  .categories .cover-3 {
    background: url('../img/cover-3.jpg') no-repeat center center / cover;
  }
  .categories .cover-4 {
    background: url('../img/cover-4.jpg') no-repeat center center / cover;
  }

  @media (max-width: 1100px) {
    .categories .covers {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
      .categories .covers {
          grid-template-columns: 1fr;
      }
      .text-xl {
          line-height: 1.3;
          font-size: 40px;
      }
      .sub-text {
          font-size: 20px;
      }
  }
