@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Lato', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.7;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h3 {
    font-size: 26px;
    font-weight: bold;
}
h4 {
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    background: #fff;
    color: #000;
    min-width: 123px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 14px;
    cursor: pointer;
    padding: 20px 32px;
    font-weight: bold;
}
.btn-outline {
    background: none;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .btn-outline:hover {
    color: #fff;
    border-color: #ccc;
  }
.sub-link {
    font-size: 12px;
    display: block;
    color: #ccc;
    margin-top: 5px;
    text-decoration: underline;
}

/* Header css */


.header {
    height: 530px;
    background: url('../img/header.jpg') no-repeat center center / cover;
}
.header nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    z-index: 2;
    position: relative;
}
.header nav .login-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header .logo {
    width: 270px;
    margin: 20px 0;
}
.header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
.header .header-text-1 {
    font-size: 22px;
    font-weight: bold;
}
.header .header-text-2 {
    font-size: 18px;
    margin: 25px 0;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.76) 15.54%,
      rgba(0, 0, 0, 0.192) 60.23%,
      rgba(0, 0, 0, 8e-5) 100%
    );
  }
.header .btn-cta:hover {
    opacity: 0.8;
}
.header .legal-text {
    font-size: 11px;
    margin-top: 20px;
    color: #ccc;
}

.sub-header {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 40px;
    align-items: center;
    padding: 30px 40px;
}
.sub-header > div:last-of-type {
    justify-self: end;
    align-self: end;
}
.sub-header > div:last-of-type .sub-link {
    text-align: center;
}